In [1]:
import json

from orgpackage.orchestrator import *
import pandas as pd

%load_ext autoreload
%autoreload 2

In [5]:
data = load_dataset()
#train_medgov = data.copy()
# test_medgov = load gold dataset
train_medgov, test_medgov = sklearn.model_selection.train_test_split(data, test_size=0.5)
train_edu, test_edu = sklearn.model_selection.train_test_split(data, test_size=0.2) # Only for edu domain. Higher volumes and not on EU Contract hub
trains = {
        'medical': train_medgov,
        'administrative': train_medgov,
        'education': train_edu
    }
tests = {
        'medical': test_medgov,
        'administrative': test_medgov,
        'education': test_edu
    }

In [ ]:
rulegen_orchestrator(trains)

In [ ]:
#display(tests['medgov'])
nlieval_orchestrator(tests)

In [ ]:

pd.set_option('display.max_columns', None)
display(tests['medgov'])

In [18]:
import json
import ast
exps = pd.read_csv('./results/experiments_devllm.csv')
exps = exps[exps['Method']!='few_shot']
display(exps)
exps.to_csv('./results/experiments_devllm.csv', index=False)
#exps['Experiment'] = exps['Experiment'].apply(ast.literal_eval)
#exps["f1"] = exps["Experiment"].apply(lambda x: x["f1"])
#exps["whitelist_lux"] = exps["Experiment"].apply(lambda x: x["parameters"].get("whitelist_hospital",{}).get("Q29",[]))


#print(exps.loc[0,'Experiment']['parameters'].keys())
#filtered_df = exps[exps["Experiment"].apply(lambda x: x.get("category") == "A")]
#exps = exps.loc[exps['Domain'] == 'medical']['Experiment']
#for doc in exps:
#    print(json.dumps(doc['parameters']['whitelist_university_hospitals']))

,Domain,Technique,Method,Experiment,Accuracy,Recall,F1
0,medical,nli,0_shot,"{'id': 'med-n-0-0', 'structure': 'nested-class...",0.947551,0.742692,0.402599
1,medical,nli,0_shot,"{'id': 'med-n-0-1', 'structure': 'nested-class...",0.967536,0.751862,0.418139
2,medical,nli,0_shot,"{'id': 'med-n-0-2', 'structure': 'nested-class...",0.981976,0.603982,0.514361
3,medical,nli,0_shot,"{'id': 'med-n-0-3', 'structure': 'nested-class...",0.559544,0.574555,0.120606
4,administrative,nli,0_shot,"{'id': 'adm-n-0-0', 'structure': '2-class', 'p...",0.897775,0.827844,0.768226
5,administrative,nli,0_shot,"{'id': 'adm-n-0-1', 'structure': '2-class', 'p...",0.915196,0.782249,0.774079
6,administrative,nli,0_shot,"{'id': 'adm-n-0-2', 'structure': '2-class', 'p...",0.845172,0.839777,0.714752
7,administrative,nli,0_shot,"{'id': 'adm-n-0-3', 'structure': '2-class', 'p...",0.695154,0.719649,0.567738
8,education,nli,0_shot,"{'id': 'edu-n-0-0', 'structure': '2-multiclass...",0.886189,0.548812,0.514422
9,education,nli,0_shot,"{'id': 'edu-n-0-1', 'structure': '2-multiclass...",0.897228,0.096807,0.170230
10,education,nli,0_shot,"{'id': 'edu-n-0-2', 'structure': '2-multiclass...",0.845705,0.694282,0.494447
11,education,nli,0_shot,"{'id': 'edu-n-0-3', 'structure': '2-multiclass...",0.884587,0.095962,0.154520
12,medical,nli,1_shot,"{'id': 'med-n-1-0', 'structure': 'nested-class...",0.955670,0.028060,0.044114
13,medical,nli,1_shot,"{'id': 'med-n-1-1', 'structure': 'nested-class...",0.958814,0.053504,0.085067
14,medical,nli,1_shot,"{'id': 'med-n-1-2', 'structure': 'nested-class...",0.038567,0.499709,0.036358
15,medical,nli,1_shot,"{'id': 'med-n-1-3', 'structure': 'nested-class...",0.000570,0.446660,0.014273
20,administrative,nli,1_shot,"{'id': 'adm-n-1-0', 'structure': '2-class', 'p...",NaN,NaN,NaN
21,administrative,nli,1_shot,"{'id': 'adm-n-1-1', 'structure': '2-class', 'p...",NaN,NaN,NaN
22,administrative,nli,1_shot,"{'id': 'adm-n-1-2', 'structure': '2-class', 'p...",NaN,NaN,NaN
23,administrative,nli,1_shot,"{'id': 'adm-n-1-3', 'structure': '2-class', 'p...",NaN,NaN,NaN
28,education,nli,1_shot,"{'id': 'edu-n-1-0', 'structure': '2-multiclass...",NaN,NaN,NaN
29,education,nli,1_shot,"{'id': 'edu-n-1-1', 'structure': '2-multiclass...",NaN,NaN,NaN
30,education,nli,1_shot,"{'id': 'edu-n-1-2', 'structure': '2-multiclass...",NaN,NaN,NaN
31,education,nli,1_shot,"{'id': 'edu-n-1-3', 'structure': '2-multiclass...",NaN,NaN,NaN

In [8]:
llm_prompter(trains)

In [20]:

nlieval_orchestrator(tests)

Some weights of the model checkpoint at joeddav/xlm-roberta-large-xnli were not used when initializing XLMRobertaForSequenceClassification: ['roberta.pooler.dense.bias', 'roberta.pooler.dense.weight']
- This IS expected if you are initializing XLMRobertaForSequenceClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing XLMRobertaForSequenceClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

Loading model: roberta-large

Device set to use mps:0

education_roberta-large

Classifying organizations: 100%|██████████| 36508/36508 [38:55<00:00, 15.63organization/s]

Loading model: bge-m3

Device set to use mps:0

education_bge-m3

Classifying organizations: 100%|██████████| 36508/36508 [39:03<00:00, 15.58organization/s]

Loading model: mDeBerta

Device set to use mps:0

education_mDeBerta

Classifying organizations: 100%|██████████| 36508/36508 [29:33<00:00, 20.59organization/s]

Loading model: MiniLM

Device set to use mps:0

education_MiniLM

Classifying organizations: 100%|██████████| 36508/36508 [09:35<00:00, 63.49organization/s]

In [27]:

# df = pd.read_csv('./results/experiments.csv')
# df2 = pd.read_csv('./results/experiments_devllm.csv')
# zdf = df2[df2['Method']=='0_shot']

dfc = pd.concat([df, zdf], ignore_index=True)
dfc['Experiment'] = dfc['Experiment'].apply(ast.literal_eval)
print(type(dfc.loc[0, 'Experiment']))
dfc ['ID'] = dfc['Experiment'].apply(lambda x: x.pop("id",''))
dfc = dfc.rename(columns={'Experiment': 'Parameters'})
dfc = dfc[['ID'] + [col for col in dfc.columns if col != 'ID']]
display(dfc)
# dfc.to_csv('./results/experiments.csv', index=False)

<class 'dict'>

,ID,Domain,Technique,Method,Parameters,Accuracy,Recall,F1
0,med-r-expert-0,medical,rules,expert,"{'structure': 'nested-class', 'parameters': {'...",0.955505,0.121558,0.141009
1,med-r-llm-0,medical,rules,llm_generated,"{'structure': 'nested-class', 'token_num': 5, ...",0.955768,0.497103,0.321123
2,adm-r-llm-0,administrative,rules,llm_generated,"{'structure': '2-class', 'token_num': 5, 'para...",0.908041,0.691545,0.714471
3,edu-r-llm-0,education,rules,llm_generated,"{'structure': '2-multiclass', 'token_num': 5, ...",0.825189,0.224390,0.346043
4,med-r-counter-0,medical,rules,counter_algorithm,"{'structure': '3-class', 'tokenize': False, 't...",0.980201,0.472174,0.430222
5,med-r-counter-1,medical,rules,counter_algorithm,"{'structure': 'nested-class', 'tokenize': Fals...",0.979511,0.687964,0.473058
6,med-r-idf-0,medical,rules,idf_best,"{'structure': '3-class', 'tokenize': False, 't...",0.930864,0.729635,0.405005
7,med-r-idf-1,medical,rules,idf_best,"{'structure': 'nested-class', 'tokenize': Fals...",0.973978,0.692793,0.437669
8,adm-r-counter-0,administrative,rules,counter_algorithm,"{'structure': '2-class', 'tokenize': False, 't...",0.938270,0.806915,0.821430
9,adm-r-idf-0,administrative,rules,idf_best,"{'structure': '2-class', 'tokenize': False, 't...",0.821845,0.792964,0.677169
10,edu-r-counter-0,education,rules,counter_algorithm,"{'structure': '2-multiclass', 'tokenize': Fals...",0.770735,0.705337,0.611132
11,edu-r-idf-0,education,rules,idf_best,"{'structure': '2-multiclass', 'tokenize': Fals...",0.773118,0.725788,0.609923
12,med-n-0-0,medical,nli,0_shot,"{'structure': 'nested-class', 'parameters': {'...",0.947551,0.742692,0.402599
13,med-n-0-1,medical,nli,0_shot,"{'structure': 'nested-class', 'parameters': {'...",0.967536,0.751862,0.418139
14,med-n-0-2,medical,nli,0_shot,"{'structure': 'nested-class', 'parameters': {'...",0.981976,0.603982,0.514361
15,med-n-0-3,medical,nli,0_shot,"{'structure': 'nested-class', 'parameters': {'...",0.559544,0.574555,0.120606
16,adm-n-0-0,administrative,nli,0_shot,"{'structure': '2-class', 'parameters': {'model...",0.897775,0.827844,0.768226
17,adm-n-0-1,administrative,nli,0_shot,"{'structure': '2-class', 'parameters': {'model...",0.915196,0.782249,0.774079
18,adm-n-0-2,administrative,nli,0_shot,"{'structure': '2-class', 'parameters': {'model...",0.845172,0.839777,0.714752
19,adm-n-0-3,administrative,nli,0_shot,"{'structure': '2-class', 'parameters': {'model...",0.695154,0.719649,0.567738
20,edu-n-0-0,education,nli,0_shot,"{'structure': '2-multiclass', 'parameters': {'...",0.886189,0.548812,0.514422
21,edu-n-0-1,education,nli,0_shot,"{'structure': '2-multiclass', 'parameters': {'...",0.897228,0.096807,0.170230
22,edu-n-0-2,education,nli,0_shot,"{'structure': '2-multiclass', 'parameters': {'...",0.845705,0.694282,0.494447
23,edu-n-0-3,education,nli,0_shot,"{'structure': '2-multiclass', 'parameters': {'...",0.884587,0.095962,0.154520